ul {
    list-style-type: none
}
.close.icon {
    font-size: 2em;
}
.item.ui.grid.equal.width.row {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.elmt_list {
    width: 200px;
    max-width: 20%;
}
.header_list {
    font-weight: bold;
    background-color: #222;
    color: white;
    padding: 10px 0!important;
    border-radius: 5px;
}