<!DOCTYPE html>
<html>
<head>
    <title>Vuejs School</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="css/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="css/todoList.css">
</head>
<body>

    <div id="app" class="ui middle aligned center aligned grid">
        <div class="column">
                <h1 class="ui header ">Liste de course</h1>
                <div class="ui input focus">
                    <input v-model.lazy=itemName placeholder="produit"></input>
                </div>
        
                <div class="ui relaxed list">
                    <div class="header_list item ui grid equal width row ">
                        <div class="elmt_list">OK</div>
                        <div class="elmt_list">Produit</div>
                        <div class="elmt_list">Prix</div>
                        <div class="elmt_list">Supprimer</div>
                    </div>
                    <list v-for="item in list" :elem="item" :key="item.id"></list>
                </div>

                
                <div class="ui right labeled input">
                    <label for="budget">Budget </label>
                    <input class="ui mini icon input" id="budget" type="text" placeholder="Budget" v-model="budget">
                    <label for="amount" class="ui label">€</label>
                </div>
                <p>Total : {{ amount }}</p>
                <p class="ui attached icon error message" v-show="amount > budget">Attention budget dépassé !</p>
        </div>

    </div>


    <script src="https://unpkg.com/vue"></script>
    <script src="js/app.js"></script>
</body>
</html>